<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Handwritten digit recognition</title>
    <style>
        #container {
            position: relative;
        }

        #digit {
            border: 1px solid #000;
        }

        #resized {
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    
    <div id="container">{% block content %}
        <canvas id="digit" width="100" height="100"></canvas>
        <canvas id="resized" width="28" height="28"></canvas>
        <button onclick="test()">Test</button>
        {% endblock %}
    </div>
    <div>
        {% block image %}
        <img id="dig"></img>
        {% endblock %}
    </div>
    <script src="../static/canvas.js"></script>
</body>
</html>
