<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Handwritten digit recognition{% endblock %}</title>
    <style>
     #digit, #digit2{
         border: 1px solid black;
        }
    </style>
</head>
<body id="mainBody">
        {% block body %}
  <table id="table">
      <tr id="row1" >
          <td class="td" width="50%" align="right">        
              <canvas id="digit" height="250" width="250"></canvas>
              <canvas id="resized" width="28" height="28" hidden="true"></canvas>
            </td>
        
            
            <td  class="td" width="50">
                   
            </td>
            <td class="td"></td>
    </tr>

<tr>
    <td width="50%" align="center" colspan="2">
        
        <button  id="button" type="submit"  onclick="save()">Test</button>
    
</td>

</tr>
<th><h3>Answer</h3></th>
<tr>
    <td  class="td" width="50%" align="center">
        <p id="predict" style="font-size:60px;">{{answer}} </p>
</td>
    
</tr>

  </table>
{% endblock %}
    <script src="../static/canvas.js"></script>
</body>
</html>
