<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Handwritten digit recognition{% endblock %}</title>
    <style>
     #digit, #resized{
         border: 1px solid black;
        }
        canvas {
            background: ghostwhite;
            padding: 0;
            margin-bottom: 1rem;
            display: block;
}
    </style>
</head>
<body id="mainBody">
        {% block body %}
  <table id="table">
      <tr id="row1" >
          <td class="td" width="50%" align="left">        
              <canvas id="digit" height="200" width="200"></canvas>
            </td>
            
            
            <td  class="td" width="50">
            </td>
            <td class="td"></td>
    </tr>

<tr>
    <td width="50%" align="center" colspan="2">
        
        <button  id="button" type="submit"  onclick="save()">Test</button>
    
</td>

</tr>
<th><h3>Answer</h3></th>
<tr>
    <td  class="td" width="50%" align="center">
        <p id="predict" style="font-size:60px;">{{answer}} </p>
</td>
    
</tr>

  </table>
{% endblock %}
    <script src="../static/canvas.js"></script>
</body>
</html>
