{% extends "index.html" %}
{% block body %}
<table id="table">
    <tr id="row1" >
        <td class="td" width="50%" align="right">        
            <canvas id="digit" height="250" width="250"></canvas>
            <canvas id="resized" width="28" height="28" hidden="true"></canvas>
          </td>
      
          
          <td  class="td" width="50">
                  <p id="predict" style="font-size:120px;">{{answer}} </p>
          </td>
          <td class="td"></td>
  </tr>

<tr>
  <td width="50%" align="center" colspan="2">
      
      <button  id="button"  type="submit"  onclick="save()">GOO</button>
  
</td>

</tr>

</table>
{% endblock %}