<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Handwritten digit recognition</title>
    <style>
        #container {
            position: relative;
        }

        #digit {
            border: 1px solid #000;
        }

        #resized {
            border: 1px solid #000;
        }
    </style>
</head>

<body>
  
    <div id="container">{% block content %}
       
        <p id="response"></p>
        {% endblock %}
    </div>
 
    <div>
        {% block image %}
        <img id="dig"></img>
        {% endblock %}
    </div>
    <script src="../static/canvas.js"></script>
</body>
</html>